@charset "UTF-8";

.titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 10px;
}

.descricao {
    width: clamp(250px, 40vw, 600px);
    height: auto;
}